<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title> Wyszukiwarka czasopism na ministerialnej liście czasopism punktowanych</title>
</head>
<body>
    {% block body %} {% endblock body %}

    <hr>

    <h3>Uwaga!</h3>
    <p>
        Oprogramowanie rozprzestrzeniane na licencji GPL (kod źródłowy dostępny na TODO).
    </p>
    <p>
        Zawartosć listy została pobrana z plików PDF ministerstwa nauki. Impoert z pdf nie jest prostym zadaniem, i
        <strong>wiemy że nie wszystkie czasopisma się zaimportowały,</strong>
        wewnętrzne procedury walidacji aplikacji wykazały braki kilkunastu czasopism,
        oraz kilka błędnych ISSN.
    </p>
    <p>
        Pliki pdf pobrano i zaimportowano 19 września.
    </p>
    <p>
        Brak polskich liter wynika z ich braku w plikach pdf, z których pobrano dane.
    </p>
    <p>
        <strong>Autor nie daje żadnej gwarancji co do poprawnego działania aplikacji.</strong>
    </p>
    <p>
        Autor: Jacek Bzdak, jbzdak@gmail.com
    </p>
    <p>
        Ten program to Wolne Oprogramowanie dostępne na licencji GPL 3.0, do pobrania ze strony:
        <a href="https://github.com/jbzdak/journal-list">https://github.com/jbzdak/journal-list</a>
    </p>
</body>
</html>